In [2]:
from binance import Client

client = Client(api_key='YOUR_API_KEY', api_secret='YOUR_API_SECRET')

# Get klines for BTCUSDT (Bitcoin/Tether)
klines = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_1MINUTE, "1 day ago UTC")

# Convert to Pandas DataFrame (optional)
import pandas as pd

df = pd.DataFrame(klines, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
0,2024-06-18 06:32:00,65613.99000000,65630.00000000,65590.00000000,65613.99000000,14.12252000,1718692379999,926636.72507130,2002,6.83874000,448690.48014830,0
1,2024-06-18 06:33:00,65614.00000000,65642.00000000,65561.21000000,65576.82000000,27.71181000,1718692439999,1817985.23579650,1228,5.21362000,342136.51966530,0
2,2024-06-18 06:34:00,65576.82000000,65590.00000000,65564.31000000,65568.00000000,12.15265000,1718692499999,796957.56125580,587,6.88421000,451459.66272840,0
3,2024-06-18 06:35:00,65568.01000000,65573.18000000,65554.68000000,65554.68000000,13.29801000,1718692559999,871870.51614350,802,6.48276000,425036.17907610,0
4,2024-06-18 06:36:00,65554.69000000,65559.98000000,65546.33000000,65546.33000000,34.97060000,1718692619999,2292422.21650660,891,10.34139000,677885.48435380,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1435,2024-06-19 06:27:00,65480.01000000,65480.02000000,65479.17000000,65479.18000000,18.36100000,1718778479999,1202266.80013030,384,8.31458000,544431.94515260,0
1436,2024-06-19 06:28:00,65479.18000000,65480.00000000,65479.17000000,65480.00000000,2.11636000,1718778539999,138579.12655920,132,1.00344000,65705.13755620,0
1437,2024-06-19 06:29:00,65480.00000000,65480.00000000,65479.99000000,65480.00000000,2.03289000,1718778599999,133113.63113620,157,1.42651000,93407.87480000,0
1438,2024-06-19 06:30:00,65479.99000000,65490.00000000,65460.00000000,65489.99000000,22.41761000,1718778659999,1467778.69497100,622,12.40868000,812414.57981980,0
1439,2024-06-19 06:31:00,65489.98000000,65489.98000000,65463.51000000,65463.52000000,5.03754000,1718778719999,329826.52579260,194,0.41346000,27070.99170460,0