In [1]:
import pandas as pd
import datetime as dt
from datetime import date
import matplotlib.pyplot as plt
import yfinance as yf
import numpy as np
import tensorflow as tf

2024-06-24 07:04:40.620919: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-06-24 07:04:40.624163: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-06-24 07:04:40.664975: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-06-24 07:04:41.752113: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
START = "2023-01-01"
TODAY = date.today().strftime("%Y-%m-%d")

# Define a function to load the dataset

def load_data(ticker):
    data = yf.download(ticker, START, TODAY)
    data.reset_index(inplace=True)
    return data

In [3]:
data = load_data('TCS.NS')
df=data
df.head()

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-02,3261.000000,3266.850098,3235.199951,3261.449951,3119.466309,709547
1,2023-01-03,3252.000000,3320.000000,3245.300049,3311.350098,3167.194092,1245178
2,2023-01-04,3306.699951,3327.350098,3286.199951,3314.649902,3170.350586,1231668
3,2023-01-05,3330.199951,3337.300049,3281.949951,3311.100098,3166.955078,1826057
4,2023-01-06,3300.000000,3301.550049,3200.000000,3211.550049,3071.738770,2488376